.homeBlock {
    box-shadow: 0 .2vw 1vw 0 rgba(0,0,0,0.16);
    height: 3vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    cursor: pointer;
  }
  
  .homeBlock__home, .homeBlock__services {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .homeBlock__home {
    margin-left: .5vw;
    margin-right: auto;
  }
  
  .homeBlock__services {
    margin-right: .5vw;
    margin-left: auto;
  }