.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(25, 0, 255);
  font-size: 17px;
  color: white;
}

.button:hover {
  cursor: pointer;
  background-color: #ff0bba6a;
}

.button:active {
  scale: 0.95;
}